# Forzar el reconocimiento de archivos twinBASIC como Visual Basic
*.twin linguist-language=VB
*.tbform linguist-language=VB

*.cls linguist-language=VB
*.bas linguist-language=VB

# Ignorar otros archivos que no sean relevantes para la detección de lenguajes
*.bin linguist-vendored
*.res linguist-vendored
