# Forzar el reconocimiento de archivos twinBASIC como Visual Basic
*.twin linguist-language=VBA
*.tbform linguist-language=VBA

*.cls linguist-language=VBA
*.bas linguist-language=VBA

# Ignorar otros archivos que no sean relevantes para la detección de lenguajes
*.bin linguist-vendored
*.res linguist-vendored
