# Forzar el reconocimiento de archivos twinBASIC como Visual Basic
*.twin linguist-language=VisualBasic
*.tbform linguist-language=VisualBasic

# Ignorar otros archivos que no sean relevantes para la detección de lenguajes
*.bin linguist-vendored
*.res linguist-vendored
